html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
/* базовая палитра */
:root {
	--acent-text-color: #2196f3;
	--main-text-color: #212121;
	--secondary-text-color: #757575;
	--text-white-color: #ffffff;
}
/* установкао сновных правил*/
body {
	font-family: Roboto, sans-serif;
	font-style: normal;
	letter-spacing: 0.03em;
	font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
	margin: 0 0;
	padding: 0 0;
}
/*основные утилиты*/
.conteiners {
	margin: auto;
	max-width: 1200px;
	padding: 0 15px;
}
.logo {
	font-family: Raleway;
	text-decoration: none;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}
.logo > span {
	color: var(--acent-text-color);
}

li {
	list-style-type: none;
}
.link {
	text-decoration: none;
	color: #212121;
}
.button {
	display: inline-block;
	border: 0px;
	margin-top: 0px;
	padding: 10px 32px;
	border-radius: 4px;
	align-items: center;
	text-align: center;

	color: var(--text-white-color);
	background-color: var(--acent-text-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.06em;
}
.button:hover,
.button:focus {
	color: var(--acent-text-color);
	background-color: var(--text-white-color);
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}
/*навиационная панель вся */
.site-nav .conteiners {
	display: flex;
	align-items: center;
}
/* навиационная панель - логотип */
.site-nav .logo {
	color: var(--main-text-color);
	font-weight: 700;
	padding-top: 24px;
	padding-bottom: 25px;
}

/* навиационная панель - навигация сайта*/
.site-nav .list {
	display: flex;
}
.site-nav .item:first-child {
	margin-left: 85px;
}
.site-nav .item:not(:last-child) {
	margin-right: 50px;
}
.site-nav .item-contact:not(:last-child) {
	margin-right: 30px;
}

.site-nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--acent-text-color);
}

/*навиационная панель - навигация контактов*/
.site-nav .contact {
	color: var(--secondary-text-color);
}

.site-nav .contacts {
	margin-left: auto;
}

/* герой */

.hero {
	text-align: center;
	background-color: var(--secondary-text-color);
}
.hero {
	padding-top: 200px;
	padding-bottom: 200px;
}
.hero .title {
	max-width: 696px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	color: var(--text-white-color);

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
/* наши особенности*/
.features {
	padding-top: 94px;
}
/*наши особенности - список*/
.features .list {
	display: flex;
}
/*наши особенности - список - карточки*/
.features .item {
	max-width: 270px;
}
.features .item:not(:last-child) {
	margin-right: 30px;
}
.features .img-conteiner {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	padding-top: 25px;
	padding-bottom: 25px;

	background-color: #f5f4fa;
}

.features .sub-title {
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.features .post {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	color: var(--secondary-text-color);
}

/*чем мы занимаемся*/
.work {
	padding-top: 94px;
	padding-bottom: 94px;
}

.work .title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	margin-bottom: 50px;
}

.work .list {
	display: flex;
}
/*чем мы занимаемся - карточки*/
.work .item {
	max-width: 370px;
}
.work .item:not(:last-child) {
	margin-right: 30px;
}
.work .sub-title {
	color: var(--text-white-color);
	text-align: center;
	text-transform: uppercase;

	background-color: var(--secondary-text-color);
}

/*наша команда*/
.team {
	background-color: #f5f4fa;
	padding-top: 94px;
	padding-bottom: 94px;
}

/*команда заголовок*/
.team .title {
	margin-bottom: 50px;

	text-align: center;
}
/*список учасников*/
.team .list {
	display: flex;

	text-align: center;
}
.team .item:not(:last-child) {
	margin-right: 30px;
}
/* карточка учасников*/
.team .name {
	margin-top: 30px;
	margin-bottom: 10px;

	color: var(--main-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
}

.team .position {
	margin-bottom: 16px;

	color: var(--secondary-text-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
}
/*карточка учасников - социальные сети*/
.team .socialnetwork-list {
	display: flex;
	max-width: 207px;
	justify-content: space-between;
	margin-left: 32px;
}
.team .social-icon:not(:last-child) {
	margin-right: 10px;
}

/* клиенты */
.client {
	padding-top: 94px;
	padding-bottom: 94px;
}
/*клиенты - заголовок*/
.client .title {
	text-align: center;
	margin-bottom: 50px;
}
/*клиенты - список*/
.client .list {
	display: flex;
	justify-content: space-between;
}

.client .item:not(:last-child) {
	margin-right: 30px;
}

.client .item {
	border: 1px solid grey;
	width: 270px;
	padding-top: 22px;
	padding-bottom: 22px;
	border-radius: 4px;
	display: flex;
	justify-content: center;
}

.client img:hover,
.client img:focus {
	background-color: var(--acent-text-color);
}

/*футер*/
.footer {
	background-color: #2f303a;
}
.footer .conteiners {
	display: flex;
	padding-top: 60px;
}
/*футре - столбец адресов*/
.footer .input-conteiner {
	display: block;
	width: 270px;
}
.footer .logo {
	display: block;
	margin-bottom: 20px;

	color: var(--text-white-color);
	text-decoration: none;
}
.footer .contact {
	color: var(--secondary-text-color);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	text-decoration: none;
}
.footer .adress {
	color: var(--text-white-color);
}
/*футре - столбец присойденяйтесь */
.footer .connect {
	display: block;
	margin-bottom: 20px;

	color: var(--text-white-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.43;
	text-transform: uppercase;
}

.footer .social-links:hover,
.footer .social-links:focus {
	background-color: var(--acent-text-color);
}

.footer .socialnetwork-list {
	display: flex;
	max-width: 207px;
	justify-content: space-between;
}

.footer .socialnetwork-icon:not(:last-child) {
	display: block;
	margin-right: 10px;
}

/* ПОРТФОЛИО */

/*портфолио фильтры*/
.filters {
	padding-top: 94px;
	padding-bottom: 50px;
}
.filters .list {
	display: flex;
	justify-content: center;
}

.filters .item {
	margin-right: 8px;
}

.filters .button {
	text-align: center;
	color: var(--main-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;

	background-color: #f5f4fa;
}

.filters .button:hover,
.filters .button:focus {
	color: var(--text-white-color);
	background-color: var(--acent-text-color);
}

/*портфолио работ*/
.projects {
	padding-bottom: 94px;
}

.projects .list {
	display: flex;
	flex-wrap: wrap;
}
.projects .item {
	max-width: 370px;
}

.projects .item:not(:nth-child(3n)) {
	margin-right: 30px;
}
.projects .item:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
}
.projects a {
	text-decoration: none;
	text-transform: none;
}
.projects h3 {
	color: var(--main-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;

	letter-spacing: 0.06em;
}
.projects .sub-title {
	color: var(--secondary-text-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
}
